body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}
#canvas {
  height: 100vh;
}

#configs {
  position: absolute;
  right: 0;
  top: 0;
  width: fit-content;
  height: fit-content;
  background: #777;
  padding: 1rem;

  display: none;
  flex-direction: column;
}

#configs .header {
  display: flex;
  justify-content: space-between;
}
#configs h2 {
  font-size: 1.6rem;
  margin: 0;
}

#configs label {
  margin: 6px 0;
  font-size: 1.2rem;
}

#config-button {
  position: absolute;
  border-radius: 50%;
  background: #777;
  top: 10px;
  right: 10px;
  padding: 10px;
}
#config-button:hover {
  cursor: pointer;
  background: #999;
}

.fa-times:hover {
  cursor: pointer;
}
